<div class="footer">
  <div class="footerContent">
    <div class="section">
      <h4>Resources</h4>
      <h5>Contact Us</h5>
      <h5>FAQ</h5>
      <h5>Email</h5>
      <h5>About Us</h5>
    </div>
    <div class="section">
      <h4>Developer</h4>
      <h5>Features</h5>
      <h5>For Business</h5>
      <h5>API</h5>
      <h5>Compare</h5>
    </div>
    <div class="section">
      <h4>Services</h4>
      <h5>Design</h5>
      <h5>Real Estate</h5>
      <h5>Lorem</h5>
      <h5>Ipsum</h5>
    </div>
    <div class="section">
      <h4>Get In Touch</h4>
      <h5>Contact Us</h5>
    </div>
  </div>
  <div class="footerCopy">
    <div class="copy"><h6>&copy; Copyright 2019 All Rights Reserves</h6></div>
    <div class="address"><h6>123 South Rd. Houston, Texas</h6></div>
  </div>
</div>
