<div class="Section4">
  <h2>Looking for a home? Dont Hesitate To Contact Us!</h2>
  <hr />
  <div class="form">
    <div class="label">
      <h3>Don't Miss an opportunity.</h3>
      <h5>Suscribe for new listings.</h5>
    </div>
    <div class="input">
      <input type="text" id="input" placeholder="Enter your Email Address" />
      <i class="fab fa-telegram-plane" (click)="onClick()"></i>
    </div>
    <div class="message" [ngStyle]="{ display: sent ? 'flex' : 'none' }">
      <h5>Email Sent</h5>
    </div>
  </div>
</div>
