.heroModal {
  width: 100vw;
  display: flex;
  justify-content: flex-end;

  .Modal {
    width: 20vw;
    height: 30vh;
    margin-right: 15vw;
    // border: 1px solid #333;
    display: flex;
    flex-direction: column;
    transform: translateY(-100px);

    .top {
      height: 20%;
      background: #0fa9ff;

      h5 {
        font-size: 12px;
        text-align: center;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;

        span {
          font-size: 16px;
          font-weight: 700;
          text-transform: lowercase;
        }
      }
    }
    .middle {
      display: flex;
      height: 30%;
      background: #39bafe;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .box1 {
        width: 55%;
        display: flex;
        background: #fff;
        margin-left: 2vw;
        text-align: center;
        height: 50%;
        margin: auto;
        justify-content: center;
        align-items: center;

        hr {
          margin: auto 0;
          height: 40%;
          border-right: 0;
        }

        h6 {
          text-align: center;
          width: 50%;
          font-size: 12px;
          color: #b4b4b4;
          font-weight: 400;
          margin: 0;
        }
      }
      .box2 {
        width: 30%;
        text-align: center;
        background: #fff;
        height: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #b4b4b4;
        font-weight: 400;
        margin-right: 1vw;

        h6 {
          font-weight: 400;
        }
      }
    }
    .bottom {
      height: 50%;
      background: #333;
      display: flex;
      justify-content: center;
      align-items: center;

      h5 {
        border: 1px solid #fff;
        background: #fff;
        padding: 15px 2vw;
        cursor: pointer;
      }
    }
  }
}
