<div class="Section3">
  <div class="top">
    <h2>
      We make the process of owning a home as comfortable as it should be.
    </h2>
  </div>

  <div class="iconsContainer">
    <div class="icon">
      <div class="iconBox"><i class="fas fa-mobile"></i></div>
      <div class="text">
        <h4>Always Available</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur
          commodi sapiente atque eius nam obcaecati! Earum magni dolorum
          corrupti ea nesciunt, labore, quas sapiente ipsum at unde cumque harum
          dicta.
        </p>
      </div>
    </div>
    <div class="icon">
      <div class="iconBox"><i class="fas fa-map-marker-alt"></i></div>
      <div class="text">
        <h4>Anywhere</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur
          commodi sapiente atque eius nam obcaecati! Earum magni dolorum
          corrupti ea nesciunt, labore, quas sapiente ipsum at unde cumque harum
          dicta.
        </p>
      </div>
    </div>
    <div class="icon">
      <div class="iconBox"><i class="fas fa-key"></i></div>
      <div class="text">
        <h4>Take The Keys</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequatur
          commodi sapiente atque eius nam obcaecati! Earum magni dolorum
          corrupti ea nesciunt, labore, quas sapiente ipsum at unde cumque harum
          dicta.
        </p>
      </div>
    </div>
  </div>
</div>
