<div class="Section2">
  <div class="modal">
    <h4>Looking for best location & price, just a few steps.</h4>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam dicta
      veritatis hic maxime laborum id.
    </p>
    <br />
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum doloribus
      corrupti voluptatibus nihil esse optio.
    </p>
  </div>

  <div class="right">
    <h2>We Help Make it a Home</h2>
    <div class="img"></div>
  </div>
</div>
